---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive =
    href === pathname ||
    (href !== '/' && pathname.startsWith(href?.toString() ?? '/'));
---

<a
    href={href}
    class={`${className} ${isActive ? 'navlink-active' : ''}`}
    {...props}
>
    <slot />
</a>

<style>
    a {
        @apply text-textColor;
    }
    a:hover {
        text-decoration: underline;
    }
    .navlink-active {
        @apply text-accent;
    }
</style>
