---
import type { CollectionEntry } from 'astro:content';
import { Icon } from 'astro-icon';
import FormattedDate from '~/components/FormattedDate.astro';

type Props = {
    post: CollectionEntry<'blog'>;
    withDesc?: boolean;
};

const { post, withDesc = false } = Astro.props;
const postDate = post.data.date_updated ?? post.data.date_created;
const pinned: boolean = !!post.data.pin;
---

<li>
    <div class="flex flex-col gap-x-0 sm:flex-row sm:divide-x sm:divide-accent">
        <FormattedDate date={postDate} class="min-w-[125px] text-textColor" />
        <span class="sm:before:ml-4">
            <a href={`/blog/${post.id}/`} class="cody-link" data-astro-prefetch>
                {post.data.title}
            </a>
            {
                pinned && (
                    <Icon
                        class="h-5 w-5 inline text-accent rotate-45 ml-1"
                        name="mdi:pin"
                        aria-hidden="true"
                        focusable="false"
                    />
                )
            }
        </span>
    </div>
    {withDesc && <p class="italic">{post.data.description}</p>}
</li>
